.page-events .esf-advanced-search {
    margin-top: 70px;
}

.store figure {
    min-height: 100px;
    margin: 0 0 35px;
}
/*
.academy .logo .logo__image {
    background-image: url(/theme/silmo_git_desktop/images/silmo_ACADEMY.jpg);
}

.dor .logo .logo__image {
    background-image: url(/theme/silmo_git_desktop/images/silmo_or_NB.jpg);
    height: 166px;
}

html[lang=en] .dor .logo .logo__image {
    background-image: url(/theme/silmo_git_desktop/images/silmo_or_EN.jpg);
    height: 166px;
}*/

/***** LIEN "toutes les sessions" CALENDRIER EVENT ****/

.mod-catal .catal-ex-item-stand-more{
     display: inherit;
     color: #FEED02;
}



/* ------------------------------------------------------------ *\
	Catalogue - cacher stands
\* ------------------------------------------------------------ */

.mod-catal .catal-ex-item-stand, .mod-catal .catal-ed-main .catal-ed-main-stand {
    display: none;
}
.article-navigation{
    display: none;
}


/* ------------------------------------------------------------ *\
	Catalogue New
\* ------------------------------------------------------------ */
/*fond jaune*/
#catalog-v2 .bgTint{
    background-color: #FFED00 !important;
}
/*cacher encart présent sur */
/*
#catalog-v2.catalog-scope div.container div.Container-inner section.CatalogAppointmentBar {
    display: none !important;}
*/

/*cacher bloc stand fiche exposant et fiche produit*/
/*

#catalog-v2 .CatalogStandsBlock {
    display: none !important;
}

@media (min-width: 700px)
#catalog-v2 .CatalogStandsBlock {
    display: none !important;
}
*/

/*cacher nbre de résultats*/
#catalog-v2 .CatalogResultsTitle-subtitle {
    display: none !important;}
/*cacher compteur dans filtres activité*/
#catalog-v2 .CatalogFilterBlock-category-resultNb {
    display: none;
}

/*cacher filtre secteur*/
#catalog-v2 [data-type="sector"] {
   display: none !important;;
}
/*cacher pagination New catalogue 2021*/
#catalog-v2 .CatalogResults {
    display: none;
}
